node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.serverless/
.serverless_plugins/
.sls-next/

.env
.env.*
.aws/

target/
*.jar
*.war
*.ear

!java/target/user-api-1.0.jar

logs/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

coverage/
dist/
build/